#sidebar {
    width: 160px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
}

#mainContent {
    position: relative;
    margin-left: 160px;
}

body {
    border: solid;
}